body {
    text-align: center;
    font-family: sans-serif;
    color: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecera {
    position: relative;
    width: 71%;
    left: 14%;
    box-shadow: 0px, 2px, 20px, 0px rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    background: #33a;
    padding: 0.5rem;
}

#logo {
    display: block;
    text-align: left;
    font-size: 2rem;
    margin: 0 10px;
}
#tagline{
    text-align: middle;
    font-size: 1.4rem;
}
.container {
    text-align: center;
    width: 70%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
}

#post h1{
    font-size: 20px;
}